* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    background-color: wheat;
}

.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.circle {
    width: 560px;
    height: 560px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;  
}

.change-color {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.change-color1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.change-color2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.change-color3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.change-color1 input {
    margin: 16px 9px;
    width: 90vw;
}

.change-color2 input {
    margin: 16px 9px;
    width: 90vw;
}

.change-color3 input {
    margin: 16px 9px;
    width: 90vw;
}

.change-color input {
    margin: 16px 9px;
    width: 90vw;
}

#btn {
    width: 90vw;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

#btn1 {
    width: 90vw;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    display: none;
}

#btn2 {
    width: 90vw;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    display: none;
}

#btn3 {
    width: 90vw;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    display: none;
}
.left{
    width: 260px;
    height: 320px;

     }
     .right{
      width: 260px;
      height: 320px;
     
     }
    
     .top{
        width: 260px;
        height: 300px;
        
     }
    .bottom{
        width: 260px;
        height: 300px;
      
    }